body {
    font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif   ;
}

.mainLabel {
    z-index: -50;
}

.img-banner {
    height: 700px;
    object-fit: cover;
}

.professionAndSubtitle {
    text-align: center;
    color: white;
    position: relative;
    top: -70px;
    font-size: 15px;
}

@media (min-width: 400px ) {
.professionAndSubtitle {
    font-size: 19px;
}
}
@media (min-width: 767px) {
    
}
@media (min-width: 967px) {
    
} 