body {
    font-family: Georgia, 'Times New Roman', Times, serif   ;
}

.img-banner {
    width: 100%;
}
.caption {
    width: 90%;
    text-align: center;
    margin: auto

}
@media (min-width: 400px ) {
}
@media (min-width: 767px) {
    
}
@media (min-width: 967px) {
    
} 