<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPage.css">
    -->
    <%- include("./partials/head.ejs") %>
        <title>DevTomás</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <main class="mainLabel">
            <!-- separar en secciones y darles a todas un tamaño que ocupe hasta los limites de la ventana -->
            <section>
                <div>
                    <img src="/img/banner.png" alt="banner" class="img-banner">
                </div>
                <h2 class="professionAndSubtitle">Desarrollador Web Full Stack</h2>
                <h4 class="professionAndSubtitle">Feliz de hacer lo que me gusta</h4>
            </section>
            <section></section>
        </main>
        <footer></footer>
        <script src="/js/header.js"></script>
        <script src="/js/mainPage.js"></script>
</body>

</html>