<header class="header-container">
    <div class="div-main">
        <section class="oneSection">
            <h4>Tomás Esteban Valiente</h4>
            <h5>FullStack Developer</h5>
        </section>
        <section class="twoSection">
            <nav class="nav-bar">
                <li class="the-bar-links">
                    <a href="" class="tagsA">Contacto</a>
                </li>
                <li class="the-bar-links">
                    <a href="" class="tagsA">Tomás Valiente</a>
                </li>
                <li class="the-bar-links">
                    <a href="" class="tagsA">Habilidades</a>
                </li>
                <li class="the-bar-links">
                    <a href="" class="tagsA">Inicio</a>
                </li>
            </nav>
        </section>
        <section class="animationTheBar">
            <div class="iconConteiner ">
                <div class="hamburgerIcon "></div>
            </div>
        </section>
    </div>
</header>
<div class="barTheOption">
    <ul class="close ">
        <li class="menu-link">
            <a href="" id="start" class="links-barTheOption">Inicio</a>
        </li>
        <li class="menu-link">
            <a href="" id="skills" class="links-barTheOption">Habilidades</a>
        </li>
        <li class="menu-link">
            <a href="" id="user" class="links-barTheOption">Tomás Valiente </a>
        </li>
        <li class="menu-link">
            <a href="" id="" class="links-barTheOption">Contacto</a>
        </li>
    </ul>
</div>