<header class="header-container">
    <div class="div-main">
        <section class="oneSection">
            <h4>Tomás Esteban Valiente</h4>
            <h5>FullStack Developer</h5>
        </section>
        <section class="twoSection">
            <nav class="nav-bar">
                <li class="the-bar-links">
                    HTML5
                </li>
                <li class="the-bar-links">
                    CSS3
                </li>
                <li class="the-bar-links">
                    JavaScritp
                </li>
                <li class="the-bar-links">
                    MySQL
                </li>
                <li class="the-bar-links">
                    UI-UX Desing
                </li>
            </nav>
        </section>
    </div>
</header>