<header class="header-container">
    <div class="div-main">
        <section class="oneSection">
            <h4>Tomás Esteban Valiente</h4>
            <h5>FullStack Developer</h5>
        </section>
        <section class="twoSection">
            <nav class="nav-bar">
                <li class="the-bar-links">
                    HTML5
                </li>
                <li class="the-bar-links">
                    CSS3
                </li>
                <li class="the-bar-links">
                    JavaScritp
                </li>
                <li class="the-bar-links">
                    MySQL
                </li>
                <li class="the-bar-links">
                    UI-UX Desing
                </li>
            </nav>
        </section>
        <section class="animationTheBar">
            <div class="iconConteiner ">
                <div class="hamburgerIcon "></div>
            </div>
        </section>
    </div>
</header>
<div class="barTheOption">
    <ul class="close ">
        <li class="menu-link">Inicio</li>
        <li class="menu-link">Habilidades</li>
        <li class="menu-link">Tomás Valiente</li>
        <li class="menu-link">Contacto</li>
    </ul>
</div>